/* MOBILE FIRST */

body {
	font-family: 'Cutive Mono';
	color: #aaa;
	text-align: center;
	background-color: #204060;
}
/* add in a cinematic sort of gradient for whole page*/
a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

/* LOGO */

.bays-logo {
	font-size: 5em;
	color: #fff;
	font-weight: normal;
	text-shadow: 5px 5px 7.5px #000;
}
 

/*NAV BAR*/
.nav-bar {
	display: flex;
	/*list-style: none;*/
	margin: auto;
	padding-left: 0;
	/*border: 1px solid red;*/
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.nav-bar li {
	/*border: 1px solid red;*/
	margin: .33em .33em .33em .33em;
}

.selected {
	font-size: 1.5em;
	font-style: bold;
	color: #fff;
}

/* TAB-SPECIFIC CONTENT */
.store,
.news,
.contact {
	display: none;
	margin-top: 3.14em;
}

/* AUDIO PLAYER */
.audio-container {
	margin-top: 4em;
}

.audio-container li {
	margin-top: 2em;
	margin-bottom: 2em;
}

.audio-container p {
	margin-bottom: .33em;
}

/*FOOTER*/
footer {
	font-size: .65em;
	margin-top: 3.14em;
	/*border: 1px solid red;*/
}

footer * {
	/*border: 1px solid red;*/
}