/* MOBILE FIRST */

body {
	font-family: 'Cutive Mono';
	color: #aaa;
	text-align: center;
	background-color: #204060;
}

a {
	color: inherit;
	text-decoration: none;
}


/* LOGO */

.bays-logo {
	font-size: 5em;
	color: #fff;
	font-weight: normal;
	text-shadow: 5px 5px 7.5px #000;
}
 

/*NAV BAR*/

/*.nav-container, */
.nav-bar {
	display: flex;
	list-style: none;
	margin: auto;
	padding-left: 0;
	border: 1px solid red;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.nav-container {
	margin-bottom: 1.65em;
}

.selected {
	font-size: 1.5em;
	color: #fff;
}


/*MAIN*/

/* AUDIO PLAYER */

.audio-container {
	margin-top: 5em;

}

.audio-container p {
	margin-bottom: .66em;
}

/*FOOTER*/

footer {
	font-size: .65em;
	margin-top: 3em;
}